html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body{
  background: white;
}

main{
  position:fixed;
  width: 100%;
  height:100%;
}

/*styled button */
.button{
  background-color: #371bd3;
  border: solid 1px #371bd3;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
}


/* Custom to match our canvas size */
@media screen and (max-width: 500px) {
  /*CSS styling that you only want on small devices*/

}